.editor-title{
    margin-top: 60px;
    border: 1px solid black;
    background-color: #87b5b5;
    padding: 0.3em;
    border: 2px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    font-size: 1.5em;
    font-weight: bold;
    
}

#editor{
    margin-bottom: 10px;
    height: 20vh;
    width: 60vw;
    padding: 0.5em;
    border: 2px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
}

