
#preview{
    border: 1px solid black;
    width: auto;
    min-width: 60vw;
    max-width: 80vw;
    min-height: 20vh;
    height: auto;
    padding: 2em;
    line-height: 2em;
    background-color: white;
}

#preview img{
    margin-top: 30px;
    width: 500px;
}

#preview h1, h2{
    margin: 20px 0;
}

#preview li{
    margin-left: 20px;
}